.search {
  margin: 0 auto;
}
.student-card {
  border: #0056b3 1px solid;
  border-radius: 10px;
  margin: 10px;
  min-width: 100%;
}
span {
  color: #e4e7ea;
}
form {
  margin: 0 auto;
}
.info-student input {
  margin: 10px;
  height: 20%;
}
